# ***Ednei Cunha Vicente***

Objetivo :
    Esse projeto tem como finalidade a criação de um App Web, com dados do IBGE sobre mortes violentas nas regiões brasileiras.

Fase I : 
    Preprocessamento dos Dados, será necessário para que os dados venham estar apropriados para criação de mapas e gráficos.

Este projeto tem como base registro obtidos pelo IBGE, sobre crimes violentos.

In [ ]:
#importacao das bibliotecas
import folium
import pandas as pd 
import numpy as np
import requests
import re

In [262]:
#importacao dataset
df = pd.read_excel('dados/dados_mortes.xlsx')

In [263]:
#visualização dos dados
df.head()

,Grupos segundo qualidade dos dados (2),Brasil e Unidades da Federação,Crimes Violentos Letais Intencionais - CVLI,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Policiais Civis e Militares Vítimas de CVLI,Unnamed: 9,Morte Decorrente de Intervenção Policial (em serviço e fora de serviço),Unnamed: 11,Mortes Violentas Intencionais - MVI,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17
0,NaN,NaN,Homicídio Doloso,NaN,Latrocínio,NaN,Lesão Corporal Seguida de Morte,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,Número Absoluto,NaN,Número Absoluto,NaN,Número Absoluto,NaN,Número Absoluto,NaN,Número Absoluto,NaN,Número Absoluto,NaN,Taxa (3),NaN,Variação (%),NaN
3,NaN,NaN,2019 (4),2020.0,2019 (4),2020.0,2019 (4),2020.0,2019 (4),2020,2019 (4),2020.0,2019 (4),2020.0,2019,2020.0,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [264]:
df.columns

Index(['Grupos segundo qualidade dos dados (2)',
       'Brasil e Unidades da Federação',
       'Crimes Violentos Letais Intencionais - CVLI', 'Unnamed: 3',
       'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7',
       'Policiais Civis e Militares Vítimas de CVLI', 'Unnamed: 9',
       'Morte Decorrente de Intervenção Policial (em serviço e fora de serviço)',
       'Unnamed: 11', 'Mortes Violentas Intencionais - MVI ', 'Unnamed: 13',
       'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17'],
      dtype='object')

In [265]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 18 columns):
 #   Column                                                                   Non-Null Count  Dtype
---  ------                                                                   --------------  -----
 0   Grupos segundo qualidade dos dados (2)                                   3 non-null      object
 1   Brasil e Unidades da Federação                                           28 non-null     object
 2   Crimes Violentos Letais Intencionais - CVLI                              31 non-null     object
 3   Unnamed: 3                                                               29 non-null     float64
 4   Unnamed: 4                                                               31 non-null     object
 5   Unnamed: 5                                                               29 non-null     float64
 6   Unnamed: 6                                                               31 non-null     object
 7   Unnamed: 7                                                               29 non-null     float64
 8   Policiais Civis e Militares Vítimas de CVLI                              30 non-null     object
 9   Unnamed: 9                                                               29 non-null     object
 10  Morte Decorrente de Intervenção Policial (em serviço e fora de serviço)  30 non-null     object
 11  Unnamed: 11                                                              29 non-null     float64
 12  Mortes Violentas Intencionais - MVI                                      30 non-null     object
 13  Unnamed: 13                                                              29 non-null     float64
 14  Unnamed: 14                                                              30 non-null     object
 15  Unnamed: 15                                                              29 non-null     float64
 16  Unnamed: 16                                                              29 non-null     object
 17  Unnamed: 17                                                              0 non-null      float64
dtypes: float64(7), object(11)
memory usage: 5.2+ KB

In [266]:
#alterar nome das colunas para facilitar nosso trabalho
names = ['grupos','Regiao','Homicidio_Doloso_2019',"homicidio_Doloso_2020",'Latrocinio_2019','Latrocinio_2020',
        'Lesao_corporal_2019','Lesao_corporal_2020','Policia_CVLI_2019',"Policia_CVLI_2020",'MDIP_2019',"MDIP_2020",
        "MVI_2019","MVI_2020","Taxa_2019","Taxa_2020",'variacao_2019','variacao_2020']

In [267]:
#deletar uma coluna que não sera interessante 
df = df.drop([0])

In [268]:
df.head()

,Grupos segundo qualidade dos dados (2),Brasil e Unidades da Federação,Crimes Violentos Letais Intencionais - CVLI,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Policiais Civis e Militares Vítimas de CVLI,Unnamed: 9,Morte Decorrente de Intervenção Policial (em serviço e fora de serviço),Unnamed: 11,Mortes Violentas Intencionais - MVI,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,Número Absoluto,NaN,Número Absoluto,NaN,Número Absoluto,NaN,Número Absoluto,NaN,Número Absoluto,NaN,Número Absoluto,NaN,Taxa (3),NaN,Variação (%),NaN
3,NaN,NaN,2019 (4),2020.0,2019 (4),2020.0,2019 (4),2020.0,2019 (4),2020,2019 (4),2020.0,2019 (4),2020.0,2019,2020.0000,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,Brasil,39700,42105.0,1586,1428.0,758,672.0,172,194,6351,6416.0,47742,50033.0,22.718369,23.6277,4.002624,NaN

In [269]:
df.columns = names
df.head()

,grupos,Regiao,Homicidio_Doloso_2019,homicidio_Doloso_2020,Latrocinio_2019,Latrocinio_2020,Lesao_corporal_2019,Lesao_corporal_2020,Policia_CVLI_2019,Policia_CVLI_2020,MDIP_2019,MDIP_2020,MVI_2019,MVI_2020,Taxa_2019,Taxa_2020,variacao_2019,variacao_2020
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,Número Absoluto,NaN,Número Absoluto,NaN,Número Absoluto,NaN,Número Absoluto,NaN,Número Absoluto,NaN,Número Absoluto,NaN,Taxa (3),NaN,Variação (%),NaN
3,NaN,NaN,2019 (4),2020.0,2019 (4),2020.0,2019 (4),2020.0,2019 (4),2020,2019 (4),2020.0,2019 (4),2020.0,2019,2020.0000,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,Brasil,39700,42105.0,1586,1428.0,758,672.0,172,194,6351,6416.0,47742,50033.0,22.718369,23.6277,4.002624,NaN

In [270]:
df['grupos'].value_counts()

Grupo 1    1
Grupo 3    1
Grupo 2    1
Name: grupos, dtype: int64

In [271]:
#deletar coluna que tambem nao sera interessante nessa analise
to_drop = ['grupos','variacao_2020']
df.drop(to_drop,inplace=True,axis=1)

In [272]:
df.head(10)

,Regiao,Homicidio_Doloso_2019,homicidio_Doloso_2020,Latrocinio_2019,Latrocinio_2020,Lesao_corporal_2019,Lesao_corporal_2020,Policia_CVLI_2019,Policia_CVLI_2020,MDIP_2019,MDIP_2020,MVI_2019,MVI_2020,Taxa_2019,Taxa_2020,variacao_2019
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,Número Absoluto,NaN,Número Absoluto,NaN,Número Absoluto,NaN,Número Absoluto,NaN,Número Absoluto,NaN,Número Absoluto,NaN,Taxa (3),NaN,Variação (%)
3,NaN,2019 (4),2020.0,2019 (4),2020.0,2019 (4),2020.0,2019 (4),2020,2019 (4),2020.0,2019 (4),2020.0,2019,2020.000000,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Brasil,39700,42105.0,1586,1428.0,758,672.0,172,194,6351,6416.0,47742,50033.0,22.718369,23.627700,4.002624
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Alagoas (5),1068,1218.0,20,23.0,7,10.0,3,2,87,86.0,1095,1251.0,32.810395,37.326091,13.763006
8,Ceará,2155,3934.0,37,48.0,31,30.0,2,10,136,143.0,2359,4155.0,25.832018,45.226444,75.079023
9,Distrito Federal,422,384.0,25,33.0,6,5.0,-,1,8,11.0,461,433.0,15.288857,14.172795,-7.299838
10,Espírito Santo,987,1103.0,26,39.0,10,20.0,-,1,41,46.0,1064,1208.0,26.476553,29.724029,12.265479

In [273]:
df = df.drop([1,2,3,4,6,30,21])
df.head()

,Regiao,Homicidio_Doloso_2019,homicidio_Doloso_2020,Latrocinio_2019,Latrocinio_2020,Lesao_corporal_2019,Lesao_corporal_2020,Policia_CVLI_2019,Policia_CVLI_2020,MDIP_2019,MDIP_2020,MVI_2019,MVI_2020,Taxa_2019,Taxa_2020,variacao_2019
5,Brasil,39700,42105.0,1586,1428.0,758,672.0,172,194,6351,6416.0,47742,50033.0,22.718369,23.627700,4.002624
7,Alagoas (5),1068,1218.0,20,23.0,7,10.0,3,2,87,86.0,1095,1251.0,32.810395,37.326091,13.763006
8,Ceará,2155,3934.0,37,48.0,31,30.0,2,10,136,143.0,2359,4155.0,25.832018,45.226444,75.079023
9,Distrito Federal,422,384.0,25,33.0,6,5.0,-,1,8,11.0,461,433.0,15.288857,14.172795,-7.299838
10,Espírito Santo,987,1103.0,26,39.0,10,20.0,-,1,41,46.0,1064,1208.0,26.476553,29.724029,12.265479

In [274]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 28 entries, 5 to 35
Data columns (total 16 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Regiao                 28 non-null     object
 1   Homicidio_Doloso_2019  28 non-null     object
 2   homicidio_Doloso_2020  28 non-null     float64
 3   Latrocinio_2019        28 non-null     object
 4   Latrocinio_2020        28 non-null     float64
 5   Lesao_corporal_2019    28 non-null     object
 6   Lesao_corporal_2020    28 non-null     float64
 7   Policia_CVLI_2019      28 non-null     object
 8   Policia_CVLI_2020      28 non-null     object
 9   MDIP_2019              28 non-null     object
 10  MDIP_2020              28 non-null     float64
 11  MVI_2019               28 non-null     object
 12  MVI_2020               28 non-null     float64
 13  Taxa_2019              28 non-null     object
 14  Taxa_2020              28 non-null     float64
 15  variacao_2019          28 non-null     object
dtypes: float64(6), object(10)
memory usage: 3.7+ KB

In [276]:
#usando o camando replace para deixar as variaveis de acordo.
df ['Regiao'] = pd.Categorical(df['Regiao'])
df["Regiao"] = df['Regiao'].replace(to_replace=['Alagoas (5)'],value='Alagoas')
df["Regiao"] = df['Regiao'].replace(to_replace=['Mato Grosso (6)'],value='Mato Grosso')
df["Regiao"] = df['Regiao'].replace(to_replace=['Paraíba (5)'],value='Paraíba')
df["Regiao"] = df['Regiao'].replace(to_replace=['Pernambuco (5)'],value='Pernambuco')
df["Regiao"] = df['Regiao'].replace(to_replace=['Piauí (5)'],value='Piauí')
df["Regiao"] = df['Regiao'].replace(to_replace=['Minas Gerais (5) (7)'],value='Minas Gerais')
df["Regiao"] = df['Regiao'].replace(to_replace=['São Paulo (8)'],value='São Paulo')
df["Regiao"] = df['Regiao'].replace(to_replace=['Rio Grande do Norte (5)'],value='Rio Grande do Norte')
df["Regiao"] = df['Regiao'].replace(to_replace=['Mato Grosso do Sul (5)'],value='Mato Grosso do Sul')
df["Regiao"] = df['Regiao'].replace(to_replace=['Acre (5)'],value='Acre')
df

,Regiao,Homicidio_Doloso_2019,homicidio_Doloso_2020,Latrocinio_2019,Latrocinio_2020,Lesao_corporal_2019,Lesao_corporal_2020,Policia_CVLI_2019,Policia_CVLI_2020,MDIP_2019,MDIP_2020,MVI_2019,MVI_2020,Taxa_2019,Taxa_2020,variacao_2019
5,Brasil,39700,42105.0,1586,1428.0,758,672.0,172,194,6351,6416.0,47742,50033.0,22.718369,23.627700,4.002624
7,Alagoas,1068,1218.0,20,23.0,7,10.0,3,2,87,86.0,1095,1251.0,32.810395,37.326091,13.763006
8,Ceará,2155,3934.0,37,48.0,31,30.0,2,10,136,143.0,2359,4155.0,25.832018,45.226444,75.079023
9,Distrito Federal,422,384.0,25,33.0,6,5.0,-,1,8,11.0,461,433.0,15.288857,14.172795,-7.299838
10,Espírito Santo,987,1103.0,26,39.0,10,20.0,-,1,41,46.0,1064,1208.0,26.476553,29.724029,12.265479
11,Goiás,1623,1468.0,59,46.0,36,22.0,6,3,533,631.0,2251,2167.0,32.073047,30.463032,-5.019837
12,Maranhão,1401,1859.0,76,75.0,13,13.0,1,5,72,98.0,1562,2045.0,22.077174,28.743718,30.196549
13,Mato Grosso,842,810.0,41,27.0,23,25.0,3,1,73,130.0,906,992.0,26.001115,28.132107,8.195775
14,Pará,2764,2176.0,138,103.0,32,42.0,28,13,563,502.0,3497,2823.0,40.649249,32.482831,-20.08996
15,Paraíba,907,1132.0,26,26.0,9,8.0,2,2,26,38.0,942,1166.0,23.443759,28.866552,23.131075
16,Paraná,1780,2008.0,99,60.0,52,45.0,1,2,288,373.0,2219,2486.0,19.407105,21.585782,11.226185
17,Pernambuco,3257,3543.0,136,124.0,19,14.0,9,12,73,115.0,3412,3681.0,35.701315,38.277478,7.215878
18,Piauí,539,660.0,37,41.0,11,6.0,2,7,42,36.0,587,707.0,17.933373,21.545156,20.140013
19,Santa Catarina,698,689.0,28,20.0,14,15.0,-,2,78,86.0,818,810.0,11.416946,11.168559,-2.175598
20,Sergipe,772,761.0,25,28.0,4,2.0,2,3,166,196.0,967,987.0,42.067329,42.564716,1.18236
22,Bahia,5013,5368.0,142,108.0,74,90.0,8,11,773,1137.0,6002,6703.0,40.354832,44.894276,11.248823
23,Mato Grosso do Sul,456,467.0,17,17.0,9,9.0,1,4,62,21.0,482,493.0,17.344456,17.548268,1.175088
24,Minas Gerais,2722,2550.0,77,102.0,30,30.0,6,5,107,120.0,2829,2682.0,13.364013,12.595886,-5.747725
25,Rio de Janeiro,4004,3544.0,117,87.0,45,31.0,41,44,1814,1245.0,5980,4907.0,34.636662,28.256055,-18.421541
26,Rio Grande do Norte,1074,1224.0,62,63.0,128,57.0,12,5,160,145.0,1264,1344.0,36.043712,38.028785,5.507403
27,Rio Grande do Sul,1815,1780.0,70,61.0,28,26.0,6,-,99,148.0,2012,2015.0,17.684431,17.639891,-0.25186
28,São Paulo,2906,3038.0,199,183.0,104,122.0,34,49,867,814.0,4076,4157.0,8.87649,8.980471,1.171412
29,Tocantins,361,403.0,22,17.0,8,10.0,-,-,16,24.0,407,454.0,25.87633,28.549006,10.328652
31,Acre,281,280.0,13,12.0,2,2.0,1,1,23,27.0,296,294.0,33.562564,32.868626,-2.067595
32,Amapá,297,226.0,15,8.0,27,13.0,1,-,122,112.0,461,359.0,54.509058,41.658302,-23.57545
33,Amazonas,1014,954.0,47,46.0,23,19.0,1,6,88,97.0,1172,1116.0,28.277779,26.522715,-6.206514
34,Rondônia,362,379.0,14,14.0,4,1.0,2,4,22,20.0,402,414.0,22.619533,23.045322,1.882396
35,Roraima,180,147.0,18,17.0,9,5.0,-,1,12,15.0,219,184.0,36.152872,29.151701,-19.365462

In [277]:
headers = {
    'Content-Type': 'application/json;charset=UTF-8',
    'User-Agent': 'google-colab',
    'Accept': 'application/json, text/plain, */*',
    'Accept-Encoding': 'gzip, deflate, br',
    'Accept-Language': 'pt-BR,pt;q=0.9,en-US;q=0.8,en;q=0.7',
    'Connection': 'keep-alive',
}

In [278]:
# url para solicitação de malhas de todas as Unidades da Federação do Brasil no formato geojson
meshes_url = 'https://servicodados.ibge.gov.br/api/v2/malhas/?resolucao=2&formato=application/vnd.geo+json'

# solicitando dados geojson e atribuindo a variável 
meshes_data = requests.get(meshes_url, headers=headers).json()

In [279]:
states_url = 'https://servicodados.ibge.gov.br/api/v1/localidades/estados'

In [280]:
states_data = requests.get(states_url, headers=headers).json()

In [281]:
# criação de listas para serem preenchidas pelos dados solicitados pelo IBGE
meshes_ids = []
states_ids = []
states_names = []
states_codes = []

# preenchendo informações sobre malhas
for feature in meshes_data['features']:
    meshes_ids.append( str(feature['properties']['codarea']) )

meshes_ids.sort()

# preenchimento de informações sobre Unidades da Federação
for state in states_data:
    states_ids.append( str(state['id']) )
    states_names.append( state['nome'] )
    states_codes.append( state['sigla'] )

states_ids.sort()

# verificando se os números de identificação correspondem
meshes_ids == states_ids

True

In [282]:
# criando um dataframe de Unidades Federativas a serem mescladas
states = pd.DataFrame( {'id': states_ids, 'nome': states_names, 'sigla': states_codes} )

# anexando colunas de coordenadas do centroide
states['lat'] = 0
states['lng'] = 0

states.set_index('id', inplace=True)

# recuperando dados do centroide
    
    centroid = feature['properties']['centroide']
    lat = centroid[1]
    lng = centroid[0]
    
    cod = str(feature['properties']['codarea'])
    
    states.loc[cod,'lat'] = lat
    states.loc[cod,'lng'] = lng

states.reset_index(inplace=True)

In [283]:
states

    id                 nome sigla        lat        lng
0   11             Rondônia    RO -10.913325 -62.841698
1   12                 Acre    AC  -9.212917 -70.473083
2   13             Amazonas    AM  -4.154223 -64.653187
3   14              Roraima    RR   2.084090 -61.399162
4   15                 Pará    PA  -3.974815 -53.064197
5   16                Amapá    AP   1.443317 -51.956013
6   17            Tocantins    TO -10.150000 -48.329160
7   21             Maranhão    MA  -5.060433 -45.279153
8   22                Piauí    PI  -7.387435 -42.968494
9   23                Ceará    CE  -5.093338 -39.615608
10  24  Rio Grande do Norte    RN  -5.839525 -36.673283
11  25              Paraíba    PB  -7.120898 -36.832085
12  26           Pernambuco    PE  -8.326050 -37.998299
13  27              Alagoas    AL  -9.513973 -36.624728
14  28              Sergipe    SE -10.584717 -37.443872
15  29                Bahia    BA -12.475101 -41.720804
16  31         Minas Gerais    MG -18.456155 -44.673385
17  32       Espírito Santo    ES -19.575078 -40.670847
18  33       Rio de Janeiro    RJ -22.188569 -42.651667
19  35            São Paulo    SP -22.263541 -48.733659
20  41               Paraná    PR -24.635840 -51.616400
21  42       Santa Catarina    SC -27.247330 -50.474101
22  43    Rio Grande do Sul    RS -29.705809 -53.319974
23  50   Mato Grosso do Sul    MS -20.327475 -54.845564
24  51          Mato Grosso    MT -12.948919 -55.911975
25  52                Goiás    GO -16.042109 -49.623608
26  53     Distrito Federal    DF -15.780746 -47.797341

In [284]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 28 entries, 5 to 35
Data columns (total 16 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Regiao                 28 non-null     category
 1   Homicidio_Doloso_2019  28 non-null     object
 2   homicidio_Doloso_2020  28 non-null     float64
 3   Latrocinio_2019        28 non-null     object
 4   Latrocinio_2020        28 non-null     float64
 5   Lesao_corporal_2019    28 non-null     object
 6   Lesao_corporal_2020    28 non-null     float64
 7   Policia_CVLI_2019      28 non-null     object
 8   Policia_CVLI_2020      28 non-null     object
 9   MDIP_2019              28 non-null     object
 10  MDIP_2020              28 non-null     float64
 11  MVI_2019               28 non-null     object
 12  MVI_2020               28 non-null     float64
 13  Taxa_2019              28 non-null     object
 14  Taxa_2020              28 non-null     float64
 15  variacao_2019          28 non-null     object
dtypes: category(1), float64(6), object(9)
memory usage: 4.8+ KB

In [285]:
# merging dataframes
df = df.merge(states, left_on='Regiao', right_on='nome').drop(columns=['Regiao'])

In [286]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 27 entries, 0 to 26
Data columns (total 20 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Homicidio_Doloso_2019  27 non-null     object
 1   homicidio_Doloso_2020  27 non-null     float64
 2   Latrocinio_2019        27 non-null     object
 3   Latrocinio_2020        27 non-null     float64
 4   Lesao_corporal_2019    27 non-null     object
 5   Lesao_corporal_2020    27 non-null     float64
 6   Policia_CVLI_2019      27 non-null     object
 7   Policia_CVLI_2020      27 non-null     object
 8   MDIP_2019              27 non-null     object
 9   MDIP_2020              27 non-null     float64
 10  MVI_2019               27 non-null     object
 11  MVI_2020               27 non-null     float64
 12  Taxa_2019              27 non-null     object
 13  Taxa_2020              27 non-null     float64
 14  variacao_2019          27 non-null     object
 15  id                     27 non-null     object
 16  nome                   27 non-null     object
 17  sigla                  27 non-null     object
 18  lat                    27 non-null     float64
 19  lng                    27 non-null     float64
dtypes: float64(8), object(12)
memory usage: 4.4+ KB

In [287]:
df.head()

,Homicidio_Doloso_2019,homicidio_Doloso_2020,Latrocinio_2019,Latrocinio_2020,Lesao_corporal_2019,Lesao_corporal_2020,Policia_CVLI_2019,Policia_CVLI_2020,MDIP_2019,MDIP_2020,MVI_2019,MVI_2020,Taxa_2019,Taxa_2020,variacao_2019,id,nome,sigla,lat,lng
0,1068,1218.0,20,23.0,7,10.0,3,2,87,86.0,1095,1251.0,32.810395,37.326091,13.763006,27,Alagoas,AL,-9.513973,-36.624728
1,2155,3934.0,37,48.0,31,30.0,2,10,136,143.0,2359,4155.0,25.832018,45.226444,75.079023,23,Ceará,CE,-5.093338,-39.615608
2,422,384.0,25,33.0,6,5.0,-,1,8,11.0,461,433.0,15.288857,14.172795,-7.299838,53,Distrito Federal,DF,-15.780746,-47.797341
3,987,1103.0,26,39.0,10,20.0,-,1,41,46.0,1064,1208.0,26.476553,29.724029,12.265479,32,Espírito Santo,ES,-19.575078,-40.670847
4,1623,1468.0,59,46.0,36,22.0,6,3,533,631.0,2251,2167.0,32.073047,30.463032,-5.019837,52,Goiás,GO,-16.042109,-49.623608

In [288]:
df['nome']

0                 Alagoas
1                   Ceará
2        Distrito Federal
3          Espírito Santo
4                   Goiás
5                Maranhão
6             Mato Grosso
7                    Pará
8                 Paraíba
9                  Paraná
10             Pernambuco
11                  Piauí
12         Santa Catarina
13                Sergipe
14                  Bahia
15     Mato Grosso do Sul
16           Minas Gerais
17         Rio de Janeiro
18    Rio Grande do Norte
19      Rio Grande do Sul
20              São Paulo
21              Tocantins
22                   Acre
23                  Amapá
24               Amazonas
25               Rondônia
26                Roraima
Name: nome, dtype: object

In [289]:
df.to_csv("dados/novo_df.csv",index=False)